<h2 class='page-header'>All Stocks</h2>
<div class="results" infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="150"
     (scrolled)="onScroll()"
     [infiniteScrollDisabled]="isFullListDisplayed"
     [scrollWindow]="true"
     [alwaysCallback]="true">
  <a class='stock'
    *ngFor="let stock of itemsToShow"
    (click)="show('show_' + stock.Ticker)">
    <div class='section content'>
      <h3>{{ stock.Ticker }}</h3>
      <p>{{ stock.Sector }}</p>
    </div>
    <div class='hidden' *ngIf="selectedStock == 'show_' + stock.Ticker">
      <div class='break'></div>
      <hr>

      <div class="section">
        <div class="section content">
          <h4>General Information</h4>
          <div class="break"></div>
          <div class="metric">
            <h5>Country</h5>
            <p>{{ stock.Country }}</p>
          </div>
          <div class="metric">
            <h5>Industry</h5>
            <p>{{ stock.Industry }}</p>
          </div>
          <div class="metric">
            <h5>Company</h5>
            <p>{{ stock.Company }}</p>
          </div>
        </div>
      </div>

      <div class="section" style="background-color: aliceblue">
        <div class="section content">
          <h4>Perfomance</h4>
          <div class="break"></div>
          <div class="metric">
            <h5>YTD</h5>
            <p>{{ stock["Performance (YTD)"] }}</p>
          </div>
          <div class="metric">
            <h5>Week</h5>
            <p>{{ stock["Performance (Week)"] }}</p>
          </div>
          <div class="metric">
            <h5>Quarter</h5>
            <p>{{ stock["Performance (Quarter)"] }}</p>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="section content">
          <h4>50-day</h4>
          <div class="break"></div>
          <div class="metric">
            <h5>Low</h5>
            <p>{{ stock["50-Day Low"] }}</p>
          </div>
          <div class="metric">
            <h5>High</h5>
            <p>{{ stock["50-Day High"] }}</p>
          </div>
          <div class="metric">
            <h5>SMA</h5>
            <p>{{ stock["50-Day Simple Moving Average"] }}</p>
          </div>
        </div>
      </div>
      <div class="section" style="justify-content: flex-end;">
        <a class="btn-more">More</a>
      </div>
    </div>  <!-- hidden div END -->
  </a>
  <div class="overflow-loading" *ngIf="!isFullListDisplayed">
    <h3>Loading more stocks...</h3>
  </div>
</div>  <!-- infinite-scroll div END -->
